* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-size: 16px;
    height: 100%;
    background-color: rgb(122, 223, 122);
}
#root {
    min-height: 100%;
    width: 90%;
    margin: 0 auto;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.header-component {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 2px solid gray;
    box-shadow: 2px 2px 2px gainsboro;
    background-color: rgba(155, 78, 155, 0.664);
}
.logo img {
    height: 60px;
    border-radius: 5px;
}
.nav {
    display: flex;
    align-items: flex-end;
}
.cart-widget {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 0 0 40% 40%;
    border: 4px dashed rgb(255, 255, 255);
    display: flex;
    align-items: center;
    transition-duration: 1s;
}
.cart-widget:hover {
    box-shadow: 2px 2px 5px white;
}
.nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    gap: 20px;
}
.nav ul li,
ul li a {
    transition-duration: 1s;
}
.nav ul li:hover a {
    color: green;
}
.nav ul li:hover {
    box-shadow: inset 2px 2px 10px white;
    border-radius: 5px;

}
ul li, .cart-widget {
    padding: 10px 20px;
}

.header-component ul li a, .cart-widget a, .cart-widget span {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: rgb(2, 43, 2);
    text-shadow: 1px 1px 2px white; 
}

.main-component {
    flex: 1 1 auto;
    text-align: center;
    box-shadow: 2px 2px 2px gainsboro;
}
.about-component, .home-component, .catalog-component {
    padding: 10px;
}
h1 {
    margin-bottom: 20px;
    color: rgb(40, 4, 77);
    text-shadow: 1px 1px 1px blueviolet;
}
p {
    margin-bottom: 10px;
    line-height: 1.5;
}

.catalog-container {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
    grid-auto-rows: max-content;
}
.cart {
    display: grid;
    grid-template-rows: 2fr 1.5fr 0.5fr 0.5fr;
    align-items: center;
    justify-items: center;
    padding: 20px 10px 10px 10px;
    box-shadow: inset 1px 1px 3px rgb(182, 152, 182);
}
.cart img {
    width: 50%;
}
.item-img {
    width: 50%;
}
.cart-title a {
    text-decoration: none;
    font-size: 18px;
    color: rgb(12, 24, 12);
    line-height: 1;

}

.cart-price {
    font-size: 20px;
    font-weight: bold;
    color: brown;
}
button {
    width: 200px;
    background-color: rgb(79, 59, 99);
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition-duration: 1s;

}
button:disabled {
    background-color: grey;
}
.item-image img {
    width: 50%;
}
.cart-items {
    margin-bottom: 20px;
}
.cart-item {
    padding: 20px;
    padding-bottom: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 0.5fr 0.5fr;
    box-shadow: 2px 2px 5px grey;
    margin-bottom: 5px;
    justify-items: end;

}
.cart-item .t-price, .total-price {
    font-size: 20px;
    font-weight: bold;
    color: rgb(21, 75, 11);
    text-shadow: 1px 1px 2px green;
}
.cart-item input {
    width: 50px;
    height: 30px;
    cursor: pointer;
    padding-left: 10px;
    font-size: 16px;
    line-height: 2;
}
.cart-item .delete {
    grid-column-start: 4;
    grid-column-end: 5;
    width: 100%;
    background-color: rgb(21, 32, 190);
}

.cart-item .delete:hover {
    background-color: rgb(189, 12, 12);
}
.item-component {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 25px;
    align-items: center;
}
.item-component p {
    font-size: 18px;
}

.footer-component {
    padding: 10px;
    background-color: rgb(12, 24, 12);
    display: flex;
    justify-content: space-between;

}

.footer-component ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.footer-component a {
    text-decoration: none;
    color: white;
}

.footer-component li:hover a {
    text-shadow: 1px 1px 3px white;
}



@media (max-width: 768px) {
    .logo img {
        height: 50px;
        margin-bottom: 10px;
    }
    .header-component {
        align-items: center;
    }
    .nav ul {
        flex-direction: column;
        gap: 0;
        font-size: 14px;
    }
    ul li {
        padding: 5px 10px;
        text-align: center;
    }
    .cart-widget {
        font-size: 14px;
        height: 60px;
        padding: 10px 10px;
    }
    .footer-component ul li {
        font-size: 14px;
    }
}
@media (max-width: 375px) {
    .header-component {
        flex-direction: column;
    }
    
    .header-component .logo {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .nav ul {
        flex-direction: row;
        margin-bottom: 10px;
    }

    .cart-widget {
        width: 100%;
        height: 100%;
        padding: 5px;
        border-radius: 0px;
        justify-content: flex-end;
    }

    .footer-component ul {
        flex-direction: column;
    }
    .footer-component ul li {
        padding: 0px 10px;
    }
}